/* line 1, ../../compass/sass/_subjects.scss */
.subject {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 30px;
  padding: 50px 0;
  background-color: ghostwhite;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

/* line 11, ../../compass/sass/_subjects.scss */
.subject:hover {
  background-color: white;
}

/* line 4, ../../compass/sass/styles.scss */
* {
  font-family: 'Open Sans', sans-serif;
}

/* line 8, ../../compass/sass/styles.scss */
h1 {
  font-family: 'Comfortaa', cursive;
}
